* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  body {
    font-family: sans-serif;
    font-size: 5rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

[class^="row-"] {
  display: flex;
}

[class^="box-"] {

}