* {
  padding: 0;
  margin: 0.3rem;
  box-sizing: border-box;

  body {
    font-family: sans-serif;
    font-size: 5rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 1rem;
}

[class^="row-"] {
  display: flex;
  gap: 1rem;
}

[class^="box-"] {
  background-color: #c4c4c4;
  border: 2px solid black;
  width: (100%)/3;
  height: (100vh)/3;
  
  display: flex;
  justify-content: center;
  align-items: center;
}