// $color-1 : #cdb4db ; // Mobile
// $color-2 : #fff1e6 ; // Tablet
// $color-3 : #52b788 ; // Laptop
// $color-4 : #bee1e6 ; // Desktop

// $mobile : 576px;
// $tablet : 768px;
// $laptop : 995px;
// $desktop : 1200px;
* {
  margin: 0 0.8rem;
  padding: 0px;
  box-sizing: border-box;

  body {
    font-family: sans-serif;
    // font-size: 3rem;
  }
}

// .container {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: #fff;
// }

// .text {
  
// }

#size {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
  color: maroon;
}

// @media (max-width: $desktop) {
//   .container {
//     background-color: $color-4;
//   }
// }

// @media (max-width: $laptop) {
//   .container {
//     background-color: $color-3;
//   }
// }

// @media (max-width: $tablet) {
//   .container {
//     background-color: $color-2;
//   }
// }

// @media (max-width: $mobile) {
//   .container {
//     background-color: $color-1;
//   }
// }

.container {
  height: 100vh;
  
}

.header {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 4vw;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 2vw;
  }
}

.main {
  height: 80%;
  border: 1px solid green;
  display: flex;
  flex-direction: row;

  &__image {
    background-image: url('./images/Portrait.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%
  }

  &__text {
    width: 50%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.footer {
  height: 10%;
}